{% extends "userbase.html" %}
{% block content %}
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="https://lh3.googleusercontent.com/Th-MAbU8B4ua24Zt-koF8kAdgrvOM2KTtEvtUYfdYDK4k9kEM0tE5a6t56vhfxMN-fT5jYWXteINmQMdbje1mAqJjbn5Cn87Ms-Ymy7Vws9o9qOtbYN84qhY3wMuJZntYUeWbPvZJtM84Co0zTjHX6uIsq_l21BZonCfQl1q-1jtA_-hDkJNwbSxmTnWxsBFs-R1i7K_-63gAKxNYxtGVV9wHIfaOT1WFWXzk6dvUdbBhLHbrHJLRECHiRxO68n_rVFAaL0xjTKfDDqayN8GQqqIN3hnvs8jxdkhAf7dOA_PPCrgzSmYSZI9u_9nE1S87gyihwRUYAZvq2RQNDjWJOhnQNpZPnXr1-fOhZjSGg3SWDbDWv-QhXLc_RvKJtDb3sf__F3hlR2C7rpf_6m28G2Ufwk7j6fykqbENN6DbT9jXU-dKE63ZZFf1MACEJrgZr4YX31SIrma8NZvr8iCdiQVUocZGTUPAdaze8v5Nko4Gqw9CpbEsUFcxdGPLRh9zha5byEqgHyoGW9AilKqYa0muY2H7hXvwERymQONjWj5JWG4hi7AoO1V-yo9Iru21y8Otl9BkdxiHtJk9SxIaXICUUtmBt2Nk1ToYYeLo1zTqVC4630RrOrPujYgqr_rCDaEsM2RjFOqDIMzxWC1atqn7Y-Rrx67x07vgBbDeyR2sb2JitC-I0tPgWY92aoPM1cs42hS1ohoJ-Oq557uSPOV4tbPk5R0pJmWN9u8xaGza669sb6m92SOiKXmNMnHSDlz5B0OoULkkjKD7APlASX2zP2Z4yHldmI=s700-no?authuser=0"
                      style="width: 135px;" alt="logo">
                      <br>
                    <h4 class="mt-1 mb-5 pb-1">We are The Onestop Team</h4>
                  </div>
  
                  <form action="/sellerlogin" method="post">
                    <p>Sign into your user account</p>
  
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example11" class="form-control" name="email"
                        placeholder="Phone number or email address" />
                      <label class="form-label" for="form2Example11">Email</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example22" class="form-control" name="pass" />
                      <label class="form-label" for="form2Example22">Password</label>
                    </div>
  
                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom mb-3 text-black" type="submit">Log
                        in</button>
                      <a class="text-muted" href="#!">Forgot password?</a>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <a href="/">Create New</a>
                    </div>
                    <br>
                    {% if status %}
                    
                    <center><h5 style="color: red;">Invalid Email ID or Password</h5></center>
                    
                    {% endif %}
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom" style="border-radius: 0 1rem 1rem 0 ;">
                <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just a company</h4>
                  <p class="small mb-0">Onestop is India’s leading e-commerce marketplace offering over 30 million products cross 70+ categories including Books, Media, Consumer Electronics and Lifestyle.
                    Onestop is known for its path-breaking services like Cash on Delivery. 
                    Onestop is the only online player offering services like In-a-Day Guarantee (50 cities) and Same-Day-Guarantee (13 cities) at scale. 
                    Its annual subscription service, onestop First, is the first of its kind in the country.
                    Launched in 2017, onestop has become the preferred online marketplace for leading Indian and international brands.
                    Onestop, currently 33,000 people strong, has 75 million registered users clocking over 10 million daily visits. 
                    Onestop's technology has enabled it to deliver 8 million shipments per month – and this number is only growing.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



















{% endblock %}