{% extends "sellerbase.html" %}
{% block content %}



<section class="bg-success text-dark p-5 text-center">
    <div class="container">
        <center><img src="https://lh3.googleusercontent.com/kJj8i3cnVujP64xU4DlDnCstKp4dHdbfh9tjKMY8cGKf5rZcpXU5Lr9BBJryWhTr3v6lI9xV41GQvYx6L-LUDhu5YmUbWpQwv3UHxirpgZgCch1-zC2webq3LuNirXZxsq8CY8N6KSMMKiYNjpBIKhZXCl-Ru-glUfKojQTdMepLhp9AhJoqYPyKmivyByeJUavzEZLG1ZizM4IeBS1WjS8o359fYPHs7DNxT2T7xjWM_dXfepJVMniWBHGd5sv2YUaH_LuZuAVAAZfsDe7Y23CO69VlUKl_9a91R0_N_qIptF-FNi3TKTcesD_Y2J9j6TtyA-PzTj7M34Xb0HZuL1Ih1CCXT1ypZYvgSMvYzEkf5xMG8CIh1zwSeIOabHFPWwuajvqr7ELonuvs7cKxu4DVszN_x12J8DRxW_7KnebsGfOFDzC7lyUtXGW22jd5dz5BRrdp0nFQ3jdq6WgOSstcdxBTBFD1-cwFLUGqRHK4RIUa-ho5D7E_qzOYvlAa3qnbTwOAOdrLxyIkfOtHQyeJe43s3m2YwFg81MYt0c2Jwfg9DZUC9J5sEgLqJyr8e2tflzyK4JeP1ZMFAW-9kphM2Z6v07_5JTsVLyqC67mF7Ts2Ixvs_3BqWFz2-PLNpM--YN9ZBWU2gHP2xfdp9qCM4diUQ-0twk41XKMslj9VIaV6G2Aqi_J9MYHYOSKDiEQWT5NUB6T2wIz_7l9HmLhqrvkOI2B_to37D-Vp7UoCf_UZzeWR3A4PrKAK1IM4OJLjGiuBaa58RUvsh0d7RvAw6l7KO6hDkJY=s700-no?authuser=0" width="150" height="150" alt="">
            <br></center>
        <br>
        <center><h1> <span class="text-light">
            View 
        </span>
        Products</h1></center> 

    </div>
</section>

<div class="container">
    <div class="row">
        {% for i in view %}
        <div class="col col-12 col-sm-8 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
            <br>
            <center>
                <div class="card" style="width: 18rem;">
                    <img src="/static/images/{{i[5]}}" class="card-img-top" width="200px" height="300px" alt="..." >
                    <div class="card-body">
                        <center> <h5 class="card-title"><a style="color:black; font-size:25px; text-decoration:none;" href="/viewexpand?id={{i[0]}}">{{i[2]}}</a></h5></center>
    
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{i[1]}}</li>
                      <li class="list-group-item">Rs.{{i[3]}}</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="btn btn-outline-primary">Buy Now</a>&nbsp;&nbsp;&nbsp;
                      <a href="#" class="btn btn-success">Add to Cart</a>
                    </div>
                  </div>
            </center>
              
        </div>
        {% endfor %}
    </div>
</div>






    {% endblock %}